<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://miro.medium.com/max/720/1*YPSX0nSww0SsNGCQyBNOpA.webp"
      alt=""
      height="200px"

      srcset=""
    >

  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Animi provident illo cupiditate, doloribus dolorem assumenda
          corporis enim praesentium quasi laboriosam magnam laborum
          voluptatem architecto aspernatur fuga maiores? Pariatur,
          delectus perspiciatis.
      </a>
    </p>
  </div>
</div>
