<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-titile></app-menu-titile>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://miro.medium.com/max/720/1*YPSX0nSww0SsNGCQyBNOpA.webp"

      cardTitle="Saiu a nova versão do Angular"
      cardDescription="Muitas novidades na versão 18"
      >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card photoCover="https://miro.medium.com/max/720/1*YPSX0nSww0SsNGCQyBNOpA.webp"
    cardTitle="O Angular pode ser utilizado para criar aplicações web SPA"
    >
    </app-small-card>
    <app-small-card photoCover="https://miro.medium.com/max/720/1*YPSX0nSww0SsNGCQyBNOpA.webp"
    cardTitle="O Angular pode ser utilizado para criar aplicações web SPA"
    >
    </app-small-card>
    <app-small-card photoCover="https://miro.medium.com/max/720/1*YPSX0nSww0SsNGCQyBNOpA.webp"
    cardTitle="O Angular pode ser utilizado para criar aplicações web SPA"
    >
    </app-small-card>

  </div>

</div>
